@model List<Department>;

 <table class="table table-bordered table-hover">
     <tr>
         <th>Deparment Name</th>
         <th>Manger Nme</th>
         <th>Action </th>
     </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.MangerName</td>
            <td>
                <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.Id" asp-controller="Department">Edit</a>
                <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id" asp-controller="Department">Delete</a>
                </td>
        </tr>
    }
 </table>


 <a asp-action="Add" asp-controller="Department" class="btn btn-primary">Add New Department</a>
<a asp-action="index" asp-controller="Student" class="btn btn-primary">Add New Student</a>