@model Employee;
@{
    ViewBag.title = (Model == null) ? "Create" : "Edit";

    
};

<h1>@ViewBag.title</h1>

<form asp-action="@ViewBag.title">

    <div asp-validation-summary="All"></div>

    <div class="col-lg-2">
    <label class="control-label" asp-for="EmployeeId"></label>
    <input class="form-control" asp-for="EmployeeId"  readonly/>
    </div>

    <div class="col-lg-2">
        <label class="control-label" asp-for="EmployeeName"></label>
        <input class="form-control" asp-for="EmployeeName"  />
        <span class="text-danger" asp-validation-for="EmployeeName"></span>
    </div>

    <div class="col-lg-2">
    <label class="control-label" asp-for="EmployeeNumber"></label>
    <input class="form-control" asp-for="EmployeeNumber" />
    </div>

    <label class="control-label" asp-for="DOB"></label>
    <input class="form-control" asp-for="DOB" />

    <label class="control-label" asp-for="HiringDate"></label>
    <input class="form-control" asp-for="HiringDate" />
   


    <label class="control-label" asp-for="GrossSalary"></label>
    <input class="form-control" asp-for="GrossSalary" />
    <span asp-validation-for="NetSalary" class="text-danger"></span>


    <label class="control-label" asp-for="NetSalary"></label>
    <input class="form-control" asp-for="NetSalary" />
    <span asp-validation-for="NetSalary" class="text-danger"></span>


    <label class="control-label" asp-for="DepartmentId"></label>
    <input class="form-control" asp-for="DepartmentId" />

     



    <input type="submit" value="save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>






</form>

@section Scripts{

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}